---
import BaseLayout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';
const pageTitle = "标签";
const allPosts = await getCollection('posts');
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

---

<BaseLayout title={pageTitle}>
  <!-- <h1>{pageTitle}</h1> -->
 <div class="flex flex-wrap">
    {tags.map((tag) => (
        <p class=" px-5 py-2 mr-5 bg-slate-100 rounded-md hover:scale-110 transition-transform shadow-md shadow-orange-100"><a href={`/tags/${tag}`} class=" text-blue-400">{tag}</a></p>
      ))}
 </div>
</BaseLayout>