---

---

<style>
  footer {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
  }
</style>
<footer>
  <div class="absolute bottom-5">
    <p>Learn more {new Date().getFullYear()}@krismile🥤</p>
  </div>
</footer>
