---
import ThemeToggle from "@components/ThemeToggle";

---

<style>
  header {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    color: #000;
    font-weight: bold;
  }
</style>

<header class="w-full">
  <nav class="flex items-center justify-between w-full px-5 sm:px-20" >
    <!-- <Navigation client:load /> -->
     <!-- <Menu client:load /> -->
      <div class="text-white sm:hidden">krismile🥤</div>
      <div class="hidden sm:flex"></div>
    <ThemeToggle client:load />
  </nav>
</header>
