---
import "@fontsource-variable/roboto-slab";
import "@fontsource/kalam";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import LevitationMenu from "@components/LevitationMenu";
const { title } = Astro.props;
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href="/rss.xml"
    />
    <link rel="manifest" href="/mainfest.json" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="你的网站标题"
      href={new URL("rss.xml", Astro.site)}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>

    <div class="flex flex-col h-screen justify-between">
      <div>
        <Header />
        <div id="content" class="sm:mx-56 mx-4">
          <h1>{title}</h1>
          <div class="prose prose-sm prose-invert max-w-none">
            <slot />
          </div>
        </div>
      </div>
      <div class="fixed bottom-10 right-0">
        <LevitationMenu client:load />
      </div>
      <Footer />
    </div>
    <!-- <Click client:only="preact" /> -->
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/sw.js");
      }
    </script>
    <script >
      import firework from "mouse-firework";
      document.addEventListener("astro:page-load", () => {
        firework({
          excludeElements: ["a"],
          particles: [
            {
              shape: "circle",
              move: ["emit"],
              easing: "easeOutExpo",
              colors: [
                "rgba(255,182,185,.9)",
                "rgba(250,227,217,.9)",
                "rgba(187,222,214,.9)",
                "rgba(138,198,209,.9)",
              ],
              number: 30,
              duration: [1200, 1800],
              shapeOptions: {
                radius: [8, 16],
              },
            },
          ],
        });
      });
   
    </script>
  </body>
</html>
