---
import "@fontsource/kalam";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import LevitationMenu from "@components/LevitationMenu";
const { title } = Astro.props;
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href="/rss.xml"
    />
    <link rel="manifest" href="/mainfest.json" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="你的网站标题"
      href={new URL("rss.xml", Astro.site)}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>

    <div class="flex flex-col h-screen justify-between">
      <div>
        <Header />
        <div id="content" class="mx-4 sm:mx-8 md:mx-16 lg:mx-32 xl:mx-48">
          <h1 class="mt-8">{title}</h1>
          <div class="prose prose-sm dark:prose-invert max-w-none mt-6">
            <slot />
          </div>
        </div>
      </div>
      <div class="fixed bottom-10 right-0">
        <LevitationMenu client:load />
      </div>
      <Footer />
    </div>
    <!-- <Click client:only="preact" /> -->
    <script>
      import "../scripts/click-effect.js"
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/sw.js");
      }
    </script>
  </body>
</html>
