---
import { cn } from "@utils/style";
---

<div class={cn("nav-links", "flex items-center")}>
  <button class={cn("mr-4", "text-2xl block sm:hidden")} id="icon_menu">
    <!-- <Icon name="menu" /> -->xxx
  </button>
  <div class="hidden sm:flex">
    <a href="/" data-astro-prefetch>首页</a>
    <a href="/about" data-astro-prefetch>关于</a>
    <a href="/blog" data-astro-prefetch>博客</a>
    <a href="/tags" data-astro-prefetch>标签</a>
  </div>

  <div class={"hidden"} id="menu">
    <p v-data="/">首页</p>
    <p v-data="/about">关于</p>
    <p v-data="/blog">博客</p>
    <p v-data="/tags">标签</p>
  </div>
</div>

<script>
</script>
